.date-base-btn{
         -webkit-appearance:none;
         background:transparent;
         border:none;
         outline: none;
         cursor: pointer;
         vertical-align:middle;
}
.date-wrap{
       position: relative;
      & .date-input-box{
              -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
              box-sizing: border-box;
              & .date-picker-input{
                          display: block;
                          width: 100%;
                          padding-left: 10px;
                          height: 38px;
                          line-height: 1.3;
                          line-height: 38px\9;
                          outline: 0;
                          border: 1px solid #e6e6e6;
                          background-color: #fff;
                          border-radius: 2px;
                          -webkit-appearance: none;
                          transition: all .3s;
                          -webkit-transition: all .3s;
                          box-sizing: border-box;
                          &:focus{
                                border: 1px solid #b7b7b7;
                          } 
              }
      } 
      
       & .date-picker-box{
                   	position: absolute;
                   	width: 261px;
                   	z-index: 2017;
                       right: 0;
                   	border:1px solid rgba(0,0,0,0.15);
                   	background: #FFFFFF;
                   	box-shadow: 6px 6px 12px 0 rgba(0,0,0,0.15);
                       border-radius: 4px;
                       & .date-box-header{
                       	       border-bottom:1px solid rgba(0,0,0,0.15);
                       }
                       & .date-box-main{
                       	        padding:0 15px;
                       }
                       & .date-box-footer{
                       	      border-top:1px solid rgba(0,0,0,0.15);
                       }
        }
}




.date-box-header{
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      & .date-prev-btns{
              	height:34px;
              	width:100%;
              	text-align:left;
              	line-height:34px;
              	margin-top: -1px;
              	& .date-year-prev-btn{
                      @extend .date-base-btn;
                        margin-left:12px;
                       & .date-icon-arrow{
                         	        left:-5px;
                                      &:nth-child(1){
                			        transform-origin: left;
                			        transform: rotate(-45deg);
  		                       }
                		        &:nth-child(2){
                			        transform-origin: left;
                			        transform: rotate(45deg);
                		        } 
  	                 }

              	}

              	& .date-month-prev-btn{
                               @extend .date-base-btn;
                               & .date-icon-arrow{
                                  	        left:-5px;   
                                               &:nth-child(1){
                        			            transform-origin: left;
                        			             transform: rotate(-45deg);
                        		        }
                        		       &:nth-child(2){
                        			          transform-origin: left;
                        			           transform: rotate(45deg);
                        		         } 
        	                }
              	}
        }
       & .date-montn-year{
                	height:34px;
                	width:100%;
                	line-height:34px;
                	text-align:center;
                	font-size:12px;
                	color:rgba(0,0,0,0.65);
                	vertical-align: middle;
       }

       & .date-next-btns{
              	height:34px;
              	width:100%;
              	line-height:34px;
              	text-align:right;
              	margin-top: -1px;
              & .date-year-next-btn{
                              @extend .date-base-btn;
                              margin-right:12px;
                              & .date-icon-arrow{
                              	       left:-5px;
                                      &:nth-child(1){
                                                       transform-origin: right;
                                                       transform: rotate(45deg);
        	                        }
        	                       &:nth-child(2){
        		        	         transform-origin: right;
        	                                transform: rotate(-45deg);
        		                }
        	                }     
              	        }

              	& .date-month-next-btn{
                              @extend .date-base-btn;
                              & .date-icon-arrow{
                                 	        left:-5px;
                                               &:nth-child(1){
                                                       transform-origin: right;
                                                       transform: rotate(45deg);
        	                                }
        	                              &:nth-child(2){
        		        	               transform-origin: right;
        	                                       transform: rotate(-45deg);
        		                        }
        	               } 
              	}
      }

}

span[data-role="arrow"]{
	display:inline-block;
	position: relative;
	vertical-align:super;
	& + & {
		margin-left:4px;
	}
	& .date-icon-arrow{
	         vertical-align:middle;  	
	         display:inline-block;
	         position: absolute;
	         width: 8px;
	         height:1px;	
	         top: 50%;
	         background-color:rgba(0, 0, 0, 0.65);
	}
}


.date-picker-table{
         border-collapse: collapse;
         max-width: 100%;
         background-color: transparent;
         width:100%;
         border:0;
         font-size:14px;
         color:rgba(0,0,0,.65);
         & .date-picker-week{
                 line-height: 18px;
                 width: 33px;
                 padding: 6px 0;
                 text-align: center;
                 font-weight: 500;
         }

         & .date-picker-day-prev{
                   padding: 4px 0;
                   border:0;
                   & .date-picker-day-cell{
                   	color: rgba(0,0,0,.25);
                   }  
         }

         & .date-picker-day-now{
         	padding: 4px 0;
                border:0;
               &.date-picker-day-selected{
         	        & .date-picker-day-cell{
                   	background: #108ee9;
                               color: #fff;
                               border: 1px solid transparent;
                        }
                }
         }

         & .date-picker-day-next{
         	 padding: 4px 0;
                 border:0;
                  & .date-picker-day-cell{
                   	color: rgba(0,0,0,.25);
                   }
         }

         & .date-picker-day-cell{
                      display: block;
                      margin: 0 auto;
                      color: rgba(0,0,0,.65);
                      border-radius: 2px;
                      width: 20px;
                      height: 20px;
                      line-height: 20px;
                      vertical-align: middle;
                      border: 1px solid transparent;
                      padding: 0;
                      background: transparent;
                      text-align: center;
                      -webkit-transition: background .3s ease;
                      transition: background .3s ease;
         } 
}


.date-box-footer{
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
     & .date-select-time{
              width:100%;
              height:34px;
              line-height:34px;
              & a{
              	     text-decoration:none;
              	      padding-left:16px;
              	     cursor: pointer;
              	     font-size:12px;
              	     color:rgba(0,0,0,0.65);
              }
     } 

     & .date-core-btns{
               width:100%;
               height:34px;
               line-height:34px;
               margin-top: -2px;
               & .date-btn{
               	        @extend .date-base-btn;
               	        background-color:#FFFFFF;
               	        border:1px solid rgba(0,0,0,0.15);
               	        padding:3px 6px;
               	        font-size:12px;
               	        &:nth-child(2){
               	        	margin-left:-1px;
               	        }
               	        &:nth-child(3){
               	        	margin-left:-1px;
               	        }
               }
     }  

}


.time-picker-box{
           position: absolute;
           z-index: 2018;
           width: 261px;
           right: 0;
           border:1px solid rgba(0,0,0,0.15);
           border-radius:4px;
           background: #fff;
           height: 280px;
           & .time-box-header{
           	  height:34px;
           	  line-height:34px;
           	  text-align:center;
           	  color:rgba(0,0,0,0.65);
                  font-size:12px;
                  border-bottom:1px solid rgba(0,0,0,0.15);
           }

           & .time-box-main{
                   display:flex;
                   flex-direction: row;
                   flex-wrap: nowrap;
                   & .time-main-item{
                   	width:100%;
                   	height:210px;
                   	overflow: hidden;
                   	cursor:pointer;
                   	&:hover{
		    overflow-y: visible;
		}
                   } 

           }
          & .time-box-footer{
           	  height:34px;
           	  line-height:34px;
           	  text-align:center;
           	  color:rgba(0,0,0,0.65);
                  font-size:12px;
                  border-top:1px solid rgba(0,0,0,0.15);
           }
}


.time-main-item{
        & .time-for-hour{
              	list-style: none;
	        padding:0;
              	& .hour-minute-seconds{
              		list-style: none;
              		text-align:center;
              		padding:4px 0;
              		font-size:12px;
              		color:rgba(0,0,0,0.65);
                                             &:hover{
                                                    background: #F7F7F7;
                                             }
              		               &.hms-active{
              			               background: #108ee9;
                                                    color: #fff;
              		              }
              	}
        }
	& .time-for-minute{
		list-style: none;
		padding:0;
                	& .hour-minute-seconds{
                		list-style: none;
                		text-align:center;
                		padding:4px 0;
                		font-size:12px;
                		color:rgba(0,0,0,0.65);
                                      &:hover{
                                              background: #F7F7F7;
                                       }
                		       &.hms-active{
                	                       background: #108ee9;
                                              color: #fff;
                		        }
                	}
	}
	& .time-for-seconds{
		list-style: none;
		padding:0;
                	& .hour-minute-seconds{
                		list-style: none;
                		text-align:center;
                		padding:4px 0;
                		font-size:12px;
                		color:rgba(0,0,0,0.65);
                                               &:hover{
                                                        background: #F7F7F7;
                                               }
                		               &.hms-active{
                	                               background: #108ee9;
                                                       color: #fff;
                		                }
                	}
	}
}

.time-box-footer{
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
     & .date-select-day{
              width:100%;
              height:34px;
              line-height:34px;
              & a{
                     text-decoration:none;
                      padding-left:16px;
                     cursor: pointer;
                     font-size:12px;
                     color:rgba(0,0,0,0.65);
              }
     } 

     & .time-core-btns{
               width:100%;
               height:34px;
               line-height:34px;
               margin-top: -2px;
               & .date-btn{
                        @extend .date-base-btn;
                        background-color:#FFFFFF;
                        border:1px solid rgba(0,0,0,0.15);
                        padding:3px 6px;
                        font-size:12px;
                        &:nth-child(2){
                          margin-left:-1px;
                        }
                        &:nth-child(3){
                          margin-left:-1px;
                        }
               }
     }
}

